.main {
  background-image: url(/homepage-background.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.dialog {
  color: black;
  p {
    margin-top: 2rem;
  }
}
