.cardBody {
  width: fit-content;
  padding-block: 2rem;
  padding-inline: 2rem;
  background:#F5DAC9;
}
.photo {
  margin: 1rem;
  display: flex;
  justify-content: center;
  img {
    border-radius: 50%;
  }
}
.icon{
    ul{
        padding: 0;
        display: flex;
        list-style: none;
        font-size: 1.5rem;
        justify-content: space-evenly;
        a{
          color: black;
        }
    }
    
}
